.containerStyle {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .itemlistgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

/* .colortexto {
    background-color: #ffffffce;
    color: #036003;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    height: 100px;
    font-family: "truculenta";
    font-style: inherit;
    font-weight: bold;

} */

